body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  background-color: rgb(107, 133, 210);
  display: flex;
  font-weight: bold;
  justify-content: space-around;
  padding-bottom: 10px;
  padding-top: 10px;
}

#cadastrar-despesa {
  background-color: rgb(137, 163, 255);
  padding-bottom: 20px;
  padding-top: 20px;
}

table {
  background-color: darkgreen;
}

table thead {
  background-color: lime;
}

table tbody tr:nth-child(even) {
  background-color: lightgreen;
}

table tbody tr:nth-child(odd) {
  background-color: greenyellow;
}

#e-mail, #senha, #entrar {
  margin: 3px;
}

form {
  font-size: large;
  margin: auto;
  width: 240px;
}

form input {
  font-size: large;
}